# Ignore node_modules directory
node_modules/

# Ignore build files
.next/
out/

# Ignore logs
*.log

# Ignore local development settings and environment files
.env.local
.env.development
.env.test

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp

# Ignore Docker-related files (optional if you don't want to send them to Docker Hub)
docker-compose.yml
Dockerfile

# Ignore test-related files
tests/

# Ignore unnecessary files
README.md
